<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116946895731-tio1hjpcgoulbhcu4fis8jgoq57ljikb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116946895731-tio1hjpcgoulbhcu4fis8jgoq57ljikb</string>
	<key>API_KEY</key>
	<string>AIzaSyDSsBLnbddEN8iMVc8APjHAncKld1YFpu8</string>
	<key>GCM_SENDER_ID</key>
	<string>116946895731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Natasha-B..Navigation</string>
	<key>PROJECT_ID</key>
	<string>navigation-netology-786c8</string>
	<key>STORAGE_BUCKET</key>
	<string>navigation-netology-786c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116946895731:ios:b46530179661258c53bb06</string>
</dict>
</plist>